
{% extends "registration/base.html" %}

{% block title %} change password{% endblock %}

{% block content %}
{% load widget_tweaks %}

<br>
<div class="container" style="padding-top: 70px;">
	<div class="row">
		<div class="col-sm-4">
			<form method="post" action="">
				{% csrf_token %}
				{% for hidden in form.hidden_fields %}
				{{ hidden }}
				{% endfor %}

				{% for field in form.visible_fields %}
				{% for error in field.errors %}
				 <p class="alert alert-danger alert-dismissible fade show" role="alert">{{error}}
				 	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                       <span aria-hidden="true">&times;</span>
                    </button>
                  </p>
				{% endfor %}

				<div class="form-group">
					{{field.label}}
					{% render_field field class='form-control' %}
				</div>
				{% endfor %}
				<button class="btn" style="background:#98AFC7">Save</button>
			</form>
	    </div>
    </div>
</div>
{% endblock %}

