
{% extends "registration/base.html" %}
{% block title %} Password Reset {% endblock %}

{% block content %}

{# {{name}} this will be autoescape #}



<div class="container" style="padding-top: 60px;">
	<div class="row">
		<div class="col-sm-8">
			<div class="card" style="width:26rem;">
				<div class="card-body">
					<form  method="post">
						 {% csrf_token %}
						<div class="form-group">
						<label>Forgot password</label>
							<br />
							{{form.as_p}}
					
						</div>
						<button  type="submit" class="btn" style="background:#98AFC7">Submit</button>
					</form>
					
				</div>
			</div>
			<br />
		</div>
		
	</div>
</div>

{% endblock %}

